<div class="inner">
  <header class="major">
    <h2>Come party with us in the Prosecco valley!</h2>
    <h3>Chiara and Jaime are getting married!!!</h3>
    <p>The wedding will take place a small Church in Cisón di Valmarino, in the prosecco valley in the countryside of Venice. The ceremony is scheduled at 15.30 in the <a href="https://goo.gl/maps/RmVhHf1QWQdDJ4Hz5"> Chiesa Parrocchiale di Tovena (click for google maps link)</a>. After the ceremony there is going to be a reception with food, music and wine! It will be held at <a href="https://www.lovingveneto.it/en/case-marian/">Case Marian</a>, a XVII century rural hamlet, very near to the Castelbrando Castle (see the <a href="#location" class="more scrolly">map below</a>) on Saturday, June 20, 2020. The garden of <em>Case Marian</em> itself is a sprawling green space where we can share local wine and food.</p>
    <p>We will be outdoors, enjoying the sunny weather,
    playing games, and eating picnic style. 
    Feel free to wear whatever you will be comfortable in.</p>
    
    <p><em>In the unlikely case of extreme or inclement weather, 
    please check this webpage for any last-minute adjustments to the wedding schedule.</em></p>
  </header>
</div>
