<div class="inner">
  <header class="major">
    <h2><i class="fas fa-hotel"></i> Lodging <i class="fas fa-hotel"></i></h2>
    <p>There are several hotels in the Venice area. We are <i class="far fa-handshake"></i> negotiating preferential rates for our guest (based on confirmation and preferences). In the RSVP we will ask your preferences for accommodation. After that we will send the discount coupons direct to your email.</p>
    <br>
    <p>There are two main options: Staying in Mestre (main land part of the city of Venice), or staying the night before and after at Cison di Valmarino. We've talked </p>
  </header>
  <ul>
  	<li style="text-align:left;">
      <p><a href="www.cadeibarcaroli.com">Ca dei Barcaroli</a> is a hotel located in Mestre. We will organize transportation from and to the venue from the hotel. The price is around 70€ per room (double, only 4 rooms available)</p>
    </li>
    <li style="text-align:left;">
      <p><a href="https://venice.7dayspremiumhotel.com/en/">7 days premium hotel Mestre</a> is a hotel located in Mestre. We will organize transportation from and to the venue from the hotel. The price is around 120€ per room (double).</p>
    </li>
    <li style="text-align:left;">
      <p><a href="www.hotelplazavenice.com">Hotel Plaza Venice</a> is a hotel also located in Mestre. We can also provide transportation from and to the hotel. Prices are around 140€ for a double room.</p>
    </li>
    <li style="text-align:left;">
      <p><a href="https://www.booking.com/hotel/it/case-marian-il-borgo-del-cuore.en-gb.html">Hotel Case Marian</a> is the hotel where the venue is going to be celebrated. So is just 15 mts from the party. Is convenient if you would like to enjoy the area for the weekend.</p>
    </li>
        <li style="text-align:left;">
      <p><a href="https://www.booking.com/hotel/it/villa-marcello-marinelli.en-gb.html">Hotel Villa Marcello</a> is the other hotel next to the venue. So is just 150 mts from the party, crossing a piazza. Is convenient if you would like to enjoy the area for the weekend (around 130€ for 2 nights if we are able to book 2/3 of the hotel).</p>
    </li>
  </ul>
  <p>There are many other options near Cisón in AirBnB. If you need any help don't doubt in contact us. We will help in all you need.</p>
</div>
