<section class="spotlight">
  <div class="content">
    <h2><i class="fas fa-recycle"></i> Receive and give</h2>
    <p>What really matter to us is <i class="fas fa-child"></i> YOUR 
    attendance <i class="fas fa-child"></i>! We do no expect any gifts but rather 
    see you dancing all day long! We have been 
    living together for some time, and already have everything we need.</p>
    
    <p>However, if you wish, we created this PayPal as a jackpot for gifts. We will save it 
    for our <em>honeymoon</em> when Jaime finishs the PhD and we decide where to go. </p>
    <p>Take in consideration that  <i class="fas fa-heartbeat"></i> we are committed to hearth disease issues <i class="fas fa-heartbeat"></i>
    and we will share a part of this money for research on heart disease and helping heart patients.</p>
    
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick" />
	<input type="hidden" name="hosted_button_id" value="RLEDLG549RKYY" />
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="Give and receive" alt="Donate with PayPal button" />
	<img alt="" border="0" src="https://www.paypal.com/en_FR/i/scr/pixel.gif" width="1" height="1" />
	</form>

    
    <p> Please feel free to click on this buttom to partecipate to our JackPot.</p>
  </div>
  <div class="content">
    <h2></h2>
    <iframe src="https://giphy.com/embed/xT39Dmm2g0AQNJ6VHO" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/funny-cartoon-character-xT39Dmm2g0AQNJ6VHO"></a></p>
  </div>
</section>


