<div class="inner">
  <header class="major">
    <h2>Traveling to Cisón di Valmarino</h2>
    <p>We will provide transportation from Mestre (<em>"andata e ritorno"</em>). 
    Just be sure you are on time (we will not wait!). In case you want to arrive by yourself by car, the venue is almost an hour from Venezia.</p>
    <p>If you're planning to fly in, the closest airport is <a href="https://www.veneziaairport.it/en/">Marco Polo International Airport</a>. The airport is about a one hour drive from the venue, in case you want to arrive directly.</p>
  </header>
</div>
